.section-portfolio{
    width: 100%;
    background-color: #000;
}
.left{
    display: flex;
    justify-content: start;
}
.right{
    display: flex;
    justify-content: end;
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.left> h1, .right> h1, .mid> h1{
    font-family: "Figtree", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 20em;
}
.mid>a{
    font-family: "Figtree", sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-bottom:50px;
}
